<% content_for(:title) { "Energy Types" } %>
<%= turbo_frame_tag "main_content" do %>
  <%= render 'layouts/notice', notice: notice if notice %>
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-3xl">Energy types</h1>
    <%= link_to "New energy type", new_energy_type_path, class: "btn", data: { turbo_action: "advance" } %>
  </div>
  <div class="overflow-x-auto" id="energy_types">
    <table class="table">
      <thead>
        <tr class="hover:bg-background">
          <th>
            Name
          </th>
          <th>
            Unit
          </th>
          <th class="sticky right-0">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "energy_type_row", collection: @energy_types, as: :energy_type %>
      </tbody>
    </table>
  </div>
  <% if @energy_types.empty? %>
    <%= render "shared/empty", resource_name: "energy types", new_path: new_energy_type_path %>
  <%else%>
    <nav role="navigation" aria-label="pagination" class="mx-auto flex w-full justify-center mt-2">
      <%== @pagy.series_nav %>
    </nav>
  <% end %>
<% end %>