<%= turbo_frame_tag "main_content" do %>
  <%= render 'layouts/notice', notice: notice if notice %>
  <%= link_to energy_types_path, class: "btn-ghost", data: { turbo_action: "advance" } do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6" /></svg> Back
  <% end %>
  <div class="max-w-2xl mx-auto">
    <div class="card">
      <section>
        <div id="<%= dom_id @energy_type %>">
          <dl>
            <dt>
              Name:
            </dt>
            <dd>
              <%= @energy_type.name %>
            </dd>
            <dt>
              Unit:
            </dt>
            <dd>
              <%= @energy_type.unit %>
            </dd>
          </dl>
        </div>
      </section>
    </div>
    <div class="flex mt-6 justify-between">
      <%= button_to "Delete this energy type",
          @energy_type,
          method: :delete,
          class: "btn-destructive",
          data: { turbo_confirm: "Are you sure you want to delete this energy type?", turbo_action: "advance" },
          form_class: "inline-block" %>
      <%= link_to "Edit this energy type", edit_energy_type_path(@energy_type), class: "btn", data: { turbo_action: "advance" } %>
    </div>
  </div>
<% end %>