<div id="<%= dom_id consumption %>">
  <div>
    <strong>Energy type:</strong>
    <%= consumption.energy_type_id %>
  </div>

  <div>
    <strong>Value:</strong>
    <%= consumption.value %>
  </div>

  <div>
    <strong>Date of reading:</strong>
    <%= consumption.date_of_reading %>
  </div>

  <div>
    <strong>User:</strong>
    <%= consumption.user_id %>
  </div>

</div>
