<%= turbo_frame_tag "main_content" do %>
  <%= render 'layouts/notice', notice: notice if notice %>
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-3xl">Consumptions</h1>
    <%= link_to "New consumption", new_consumption_path, class: "btn", data: { turbo_action: "advance" } %>
  </div>
  <div class="overflow-x-auto" id="consumptions">
    <table class="table">
      <thead>
        <tr class="hover:bg-background">
          <th>
            Energy type
          </th>
          <th>
            Value
          </th>
          <th>
            Date of reading
          </th>
          <th class="bg-background sticky right-0">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "consumption_row", collection: @consumptions, as: :consumption %>
      </tbody>
    </table>
    <nav role="navigation" aria-label="pagination" class="mx-auto flex w-full justify-center mt-2">
      <%== @pagy.series_nav %>
    </nav>
  </div>
  <% if @consumptions.empty? %>
    <%= render "shared/empty", resource_name: "consumptions", new_path: new_consumption_path %>
  <% end %>
<% end %>