<%= turbo_frame_tag "main_content" do %>
  <%= render 'layouts/notice', notice: notice if notice %>
  <%= link_to consumptions_path, class: "btn-ghost", data: { turbo_action: "advance" } do %>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6" /></svg> Back
  <% end %>
  <div class="max-w-2xl mx-auto">
    <div class="card">
      <section>
        <div id="<%= dom_id @consumption %>">
          <dl>
            <dt>
              Energy type:
            </dt>
            <dd>
              <%= @consumption.energy_type.name %>
            </dd>
            <dt>
              Value:
            </dt>
            <dd>
              <%= @consumption.value %>
            </dd>
            <dt>
              Date of reading:
            </dt>
            <dd>
              <%= @consumption.date_of_reading %>
            </dd>
          </dl>
        </div>
      </section>
    </div>
    <div class="flex mt-6 justify-between">
      <%= button_to "Delete this consumption",
          @consumption,
          method: :delete,
          class: "btn-destructive",
          data: { turbo_confirm: "Are you sure you want to delete this consumption?", turbo_action: "advance" },
          form_class: "inline-block" %>
      <%= link_to "Edit this consumption", edit_consumption_path(@consumption), class: "btn", data: { turbo_action: "advance" } %>
    </div>
  </div>
<% end %>