<!DOCTYPE html>
<html>
  <%= render "layouts/head"  %>
  <body>
    <%= render 'layouts/alert', alert: alert if alert %>
    <%= render "layouts/aside" %>
    <main>
      <%= render "layouts/header" %>
      <div class="py-8 px-4">
        <%= turbo_frame_tag "main_content" do %>
          <%= yield %>
        <% end %>
      </div>
    </main>
  </body>
</html>
