<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <%= render 'layouts/notice', notice: notice if notice %>
    <div class="grid min-h-svh lg:grid-cols-2">
      <div class="flex flex-col gap-4 p-6 md:p-10">
        <div class="flex justify-between items-center gap-2" data-controller="theme">
          <a href="#" class="flex items-center gap-2 font-medium">
            <div class="bg-primary text-primary-foreground flex size-6 items-center justify-center rounded-md">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" class="h-4 w-4"><rect width="256" height="256" fill="none"></rect><line x1="208" y1="128" x2="128" y2="208" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></line><line x1="192" y1="40" x2="40" y2="192" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"></line></svg>
            </div>
            Energy Monitoring
          </a>
          <%= render "layouts/theme_toggle" %>
        </div>
        <%= render 'layouts/alert', alert: alert if alert %>
        <div class="flex flex-1 items-center justify-center">
          <div class="w-full max-w-md">
            <%= yield %>
          </div>
        </div>
      </div>
      <div class="bg-muted relative hidden lg:block">
        <%= image_tag 'placeholder.png', class: "absolute inset-0 h-full w-full object-cover grayscale-[0.3] dark:brightness-[0.7]" %>
      </div>
    </div>
  </body>
</html>
